state-machines.yml
validate: true # enable pre-deployment definition validation (disabled by default)
stateMachines:
  SchedulerReportsStepFunction:
    name: SchedulerReportsStepFunction-${self:service}-${self:custom.stage}
    events:
      - schedule:
          rate: cron(0 * * * ? *) # Run every one hour
          enabled: true
    definition:
      Comment: "Send scheduler reports"    
      StartAt: getAllCompanies
      States:
        getAllCompanies:
          Type: Task
          Resource:
            Fn::GetAtt: [getAllCompanies, Arn]
          ResultPath: "$.allCompanies"   
          Next: mapped_task
        mapped_task:
          Type: Map
          InputPath: "$.allCompanies"
          Iterator:
            StartAt: sendingRelevantReports
            States:
              sendingRelevantReports:
                Type: Task
                ResultPath: "$"   
                Resource:
                  Fn::GetAtt: [sendingRelevantReports, Arn]          
                Next: finish  
              finish:
                Type: Wait
                Seconds: 10
                End: true
          End: true
 
